h1= title
form( method="post")
    div
        div
            span Title :
            input(type="text", name="title", id="editPostTitle")
        div
            span Body :
            textarea( name="body", rows=20, id="editPostBody")
        div#editPostSubmit
            input(type="submit", value="Send")